/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

#hero {
    background: url('https://img.freepik.com/free-photo/woman-working-from-home-coronavirus-covid-19-quarantine-remote-office-concept_155003-12402.jpg?t=st=1728136536~exp=1728140136~hmac=926224e91941d11a9dd3d8fd4eb989390ddef035023ff223231dc22a3abbd0d4&w=1060') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.navbar {
    padding: 15px 20px;
}

.navbar-nav .nav-link {
    margin-right: 20px;
}

#menu .card {
    margin-bottom: 30px;
}

#menu img {
    height: 250px;
    object-fit: cover;
}

#contact .form-group {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 36px;
    }
    .navbar-nav {
        text-align: center;
    }
    #menu img {
        height: 200px;
    }
}
